* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6e6;  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f363d; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #434d57; 
}

body {
  font-size: 14px;
}

ul {
  width: 36rem;
  height: 24rem;
  padding: 1rem;
  margin-left: 1rem;
}

div li {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 2.5rem 10rem;
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
  margin: auto;
  margin-bottom: 15px;
  width: 32rem;
  height: fit-content;
  border-radius: 1rem;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 1rem;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: rgb(214, 215, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 0.8rem;
  word-wrap: break-word;
}

.ul-container {
  width: 50rem;
  height: 24rem;
  background: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

label {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  color: #2f363d;
}

input {
  border: 0;
  height: 2rem;
  border-radius: 0.4rem;
  background: #434d57;
  color: #fff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 15px;
}